from abc import ABCMeta, abstractmethod
from typing import Optional, Tuple

from ...models.admin_user import {{ .Singular.Title }}


class {{ .Name.Singular.Title }}ServiceInterface(metaclass=ABCMeta):
    pass
