from faker import Faker

from app.models.{{ .Name.Singular.Snake }} import {{ .Name.Singular.Title }}


def test_create_model_instance():
    faker_instance = Faker()

    model = {{ .Name.Singular.Title }}(
{{- range .Columns}}
{{- if not .Primary }}
{{- if not .IsSystemUseColumn }}
        {{ .Name.Original }}=faker_instance.{{ .FakerType }}(),
{{- end }}
{{- end }}
{{- end }}
    )
    assert model is not None
