from typing import Optional, Tuple

from app.interfaces.services.admin_user_service_interface import {{ .Singular.Title }}ServiceInterface
from app.models.admin_user import {{ .Singular.Title }}
from sqlalchemy_model_faker import factory


class Mock{{ .Name.Singular.Title }}Service({{ .Name.Singular.Title }}ServiceInterface):

    @staticmethod
    def generate_{{ .Singular.Snake }}(_id: Optional[str] = None) -> {{ .Singular.Title }}:
        fields = {}
        if _id is not None:
            fields["id"] = _id
        return factory({{ .Singular.Title }}).make(fields)
