from ..models.{{ .Name.Singular.Snake }} import {{ .Name.Singular.Title }}
from .base_repository import BaseRepository


class {{ .Name.Singular.Title }}Repository(BaseRepository):

    @property
    def model(self):
        return {{ .Name.Singular.Title }}
