from pydantic import BaseModel


class {{ .RequestSchemaName.Default.Title }}(BaseModel):
{{- if ne .RequestSchema nil }}
{{- range .RequestSchema.Properties}}
{{- if eq .Required false }}
        {{ .Name.Original }}: Optional[{{ .CodeType }}],
{{- else }}
        {{ .Name.Original }}: {{ .CodeType }},
{{- end }}
{{- end }}
{{- end }}
