from pydantic import BaseModel


class {{ .SuccessResponse.Schema.Name.Default.Title }}(BaseModel):
{{- range .SuccessResponse.Schema.Properties}}
    {{ .Name.Original }}: {{ .Type }}
{{- end}}

    @classmate
    def from_model(cls, model: AdminUser) -> 'AdminMe':
        return cls(id=str(model.id), name=model.name, email=model.email)
